<nav class="navbar  backgroundCol">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Simple Crud</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a
                    routerLink="/users"
                    routerLinkActive="active"
                >
                    User List
                </a>
            </li>
            <li>
                <a
                    routerLink="/users/add"
                    routerLinkActive="active"
                >
                    Add User
                </a>
            </li>
        </ul>
    </div>
</nav>
